body{
    background: url(/images/bg-pattern-desktop.svg);
    background-size: cover;
    
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}